<html>
    <head>
        <title>Image Upload</title>
    </head>
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
</strong>
<br>
    <body>
    	<form action="/postAuth" method="POST" enctype="multipart/form-data">
        <h1>Share your day!</h1>
        <div>
            <input type="file" name = "imageToUpload" accept = "image/*" required/> 
        	</br>
            <input type="radio" name="allFollowers" value="1"required/> Visible to all followers
            <br/>
            <input type="radio" name="allFollowers" value="0"required/> Visible to group members only
        
			<form action="/action_page.php">
                <select groupName = 'groupName' name = 'groupName'>
					{% for line in group %}
					<option value='{{line.groupName}}'>{{line.groupName}} </option>
					{% endfor %}
                </select>
			</form>
			<br>
            <br/>
            Caption: <input type="text" name="caption">
            <br/>
            <input type="submit" value=Post>
        </form>
        </div>
        
        <br/>
        <a href="/home">Go back</a>
    </body>
</html>