<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
    	<form action="/postAuth" method="post">
        <h1>Upload an Image!</h1>
        <div>
            <input type="text" name = "filePath" placeholder="URL" value="C:\Users\15512\Documents" required/> 
        	</br>
                <input type="radio" name="allFollowers" value="1"> Visible to all followers
                <br/>
                <input type="radio" name="allFollowers" value="0"> Visible to group members only
                <br/>
                Caption: <input type="text" name="caption">
                <br/>
                <input type="submit" value="Upload">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/home">Go back</a>
    </body>
</html>